#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #aaf0d1;
  /* 
  orangebrown: #FFA500 
  beige: #fff0db
  */
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}